@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
	:root {
	  --background: 0 0% 100%;
	  --foreground: 20 14.3% 4.1%;
	  --card: 0 0% 100%;
	  --card-foreground: 20 14.3% 4.1%;
	  --popover: 0 0% 100%;
	  --popover-foreground: 20 14.3% 4.1%;
	  --primary: 24 9.8% 10%;
	  --primary-foreground: 60 9.1% 97.8%;
	  --secondary: 35 100% 94%;
	  --secondary-foreground: 24 9.8% 10%;
	  --muted: 60 4.8% 95.9%;
	  --muted-foreground: 25 5.3% 44.7%;
	  --accent: 60 4.8% 95.9%;
	  --accent-foreground: 24 9.8% 10%;
	  --destructive: 0 84.2% 60.2%;
	  --destructive-foreground: 60 9.1% 97.8%;
	  --border: 20 5.9% 90%;
	  --input: 20 5.9% 90%;
	  --ring: 20 14.3% 4.1%;
	  --radius: 1rem;
	}
  
	.dark {
	  /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #ffd89b;

    --background: 39 65% 6.4%;
    --foreground: 39 10% 99%;

    --muted: 39 50% 24%;
    --muted-foreground: 39 10% 58%;

    --popover: 39 45% 10.4%;
    --popover-foreground: 39 10% 99%;

    --card: 39 45% 10.4%;
    --card-foreground: 39 10% 99%;

    --border: 39 50% 24%;
    --input: 39 50% 24%;

    --primary: 39 100% 80%;
    --primary-foreground: 39 10% 8%;

    --secondary: 39 50% 24%;
    --secondary-foreground: 39 10% 99%;

    --accent: 39 50% 24%;
    --accent-foreground: 39 10% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 39 10% 99%;

    --ring: 39 100% 80%;
	}
  }
  

   
p {
	font-size: 2rem;
}


/* Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
	width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: #555;
  }