@tailwind base;
@tailwind components;
@tailwind utilities;
 
p {
	font-size: 2rem;
}

@layer base {
	:root {
	  --background: 0 0% 100%;
	  --foreground: 20 14.3% 4.1%;
	  --card: 0 0% 100%;
	  --card-foreground: 20 14.3% 4.1%;
	  --popover: 0 0% 100%;
	  --popover-foreground: 20 14.3% 4.1%;
	  --primary: 24 9.8% 10%;
	  --primary-foreground: 60 9.1% 97.8%;
	  --secondary: 35 100% 94%;
	  --secondary-foreground: 24 9.8% 10%;
	  --muted: 60 4.8% 95.9%;
	  --muted-foreground: 25 5.3% 44.7%;
	  --accent: 60 4.8% 95.9%;
	  --accent-foreground: 24 9.8% 10%;
	  --destructive: 0 84.2% 60.2%;
	  --destructive-foreground: 60 9.1% 97.8%;
	  --border: 20 5.9% 90%;
	  --input: 20 5.9% 90%;
	  --ring: 20 14.3% 4.1%;
	  --radius: 1rem;
	}
  
	.dark {
	  /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #E0EAFC;

    --background: 232 53.3% 7.44%;
    --foreground: 232 8.2% 99.65%;

    --muted: 232 41% 27.900000000000002%;
    --muted-foreground: 232 8.2% 59.3%;

    --popover: 232 48.6% 12.09%;
    --popover-foreground: 232 8.2% 99.65%;

    --card: 232 48.6% 12.09%;
    --card-foreground: 232 8.2% 99.65%;

    --border: 232 41% 27.900000000000002%;
    --input: 232 41% 27.900000000000002%;

    --primary: 232 82% 93%;
    --primary-foreground: 232 8.2% 9.3%;

    --secondary: 232 41% 27.900000000000002%;
    --secondary-foreground: 232 8.2% 99.65%;

    --accent: 232 41% 27.900000000000002%;
    --accent-foreground: 232 8.2% 99.65%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 232 8.2% 99.65%;

    --ring: 232 82% 93%;
	}
  }
  